<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
<link href="{% static 'css/nav.css' %}" rel="stylesheet">
</head>
<body>
<div class="nav">
    <div class="nav-title">
        <a href="{% url 'PageNavigation' kind=info.kind %}">
        <p class="main-title">OA系统</p>
        <p class="sub-title">
            {% if info.kind == "admin" %}
                管理员端
            {% elif info.kind == "generaluser" %}
                用户端
            {% endif %}</p>
        </a>
    </div>
    <div class="log-out">
        <a href="{% url "logout" %}">退出</a>
    </div>
    <div class="name-logo">
        <div class="user-name">
            <a href="{% url 'update' info.kind %}">
                {{ info.name }}
            </a>
        </div>
    </div>
</div>

<div class="main-content">
    {% block content %}{% endblock %}
</div>


</body>
</html>